.cynxs-values-info-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: column;
  background-image: linear-gradient(135deg, rgb(7, 32, 27) 0.00%,rgb(14, 68, 66) 100.00%);
}
.cynxs-values-info-main {
  width: 100%;
  height: 2798px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cynxs-values-info-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.cynxs-values-info-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.cynxs-values-info-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cynxs-values-info-text {
  align-self: center;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-doubleunit);
}

.cynxs-values-info-text01 {
  color: #ffffff;
  font-size: 72px;
}
.cynxs-values-info-text02 {
  color: #ffffff;
}
.cynxs-values-info-text03 {
  color: #ffffff;
}
.cynxs-values-info-text04 {
  color: #ffffff;
}
.cynxs-values-info-text05 {
  color: #ffffff;
}
.cynxs-values-info-text06 {
  color: #ffffff;
}
.cynxs-values-info-text07 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text08 {
  color: #ffffff;
}
.cynxs-values-info-text09 {
  color: #ffffff;
}
.cynxs-values-info-text10 {
  color: #ffffff;
}
.cynxs-values-info-text11 {
  color: #ffffff;
}
.cynxs-values-info-link {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text12 {
  color: #ffffff;
}
.cynxs-values-info-text13 {
  color: #ffffff;
}
.cynxs-values-info-text14 {
  color: #ffffff;
}
.cynxs-values-info-text15 {
  color: #ffffff;
}
.cynxs-values-info-link01 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text16 {
  color: #ffffff;
}
.cynxs-values-info-text17 {
  color: #ffffff;
}
.cynxs-values-info-text18 {
  color: #ffffff;
}
.cynxs-values-info-text19 {
  color: #ffffff;
}
.cynxs-values-info-link02 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text20 {
  color: #ffffff;
}
.cynxs-values-info-text21 {
  color: #ffffff;
}
.cynxs-values-info-text22 {
  color: #ffffff;
}
.cynxs-values-info-text23 {
  color: #ffffff;
}
.cynxs-values-info-link03 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text24 {
  color: #ffffff;
}
.cynxs-values-info-text25 {
  color: #ffffff;
}
.cynxs-values-info-text26 {
  color: #ffffff;
}
.cynxs-values-info-text27 {
  color: #ffffff;
}
.cynxs-values-info-link04 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text28 {
  color: #ffffff;
}
.cynxs-values-info-text29 {
  color: #ffffff;
}
.cynxs-values-info-text30 {
  color: #ffffff;
}
.cynxs-values-info-text31 {
  color: #ffffff;
}
.cynxs-values-info-link05 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text32 {
  color: #ffffff;
}
.cynxs-values-info-text33 {
  color: #ffffff;
}
.cynxs-values-info-text34 {
  color: #ffffff;
}
.cynxs-values-info-text35 {
  color: #ffffff;
}
.cynxs-values-info-link06 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text36 {
  color: #ffffff;
}
.cynxs-values-info-text37 {
  color: #ffffff;
}
.cynxs-values-info-text38 {
  color: #ffffff;
}
.cynxs-values-info-text39 {
  color: #ffffff;
}
.cynxs-values-info-link07 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text40 {
  color: #ffffff;
}
.cynxs-values-info-text41 {
  color: #ffffff;
}
.cynxs-values-info-text42 {
  color: #ffffff;
}
.cynxs-values-info-text43 {
  color: #ffffff;
}
.cynxs-values-info-link08 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text44 {
  color: #ffffff;
}
.cynxs-values-info-text45 {
  color: #ffffff;
}
.cynxs-values-info-text46 {
  color: #ffffff;
}
.cynxs-values-info-text47 {
  color: #ffffff;
}
.cynxs-values-info-link09 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text48 {
  color: #ffffff;
}
.cynxs-values-info-text49 {
  color: #ffffff;
}
.cynxs-values-info-text50 {
  color: #ffffff;
}
.cynxs-values-info-text51 {
  color: #ffffff;
}
.cynxs-values-info-link10 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text52 {
  color: #ffffff;
}
.cynxs-values-info-text53 {
  color: #ffffff;
}
.cynxs-values-info-text54 {
  color: #ffffff;
}
.cynxs-values-info-text55 {
  color: #ffffff;
}
.cynxs-values-info-link11 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text56 {
  color: #ffffff;
}
.cynxs-values-info-text57 {
  color: #ffffff;
}
.cynxs-values-info-text58 {
  color: #ffffff;
}
.cynxs-values-info-text59 {
  color: #ffffff;
}
.cynxs-values-info-link12 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text60 {
  color: #ffffff;
}
.cynxs-values-info-text61 {
  color: #ffffff;
}
.cynxs-values-info-text62 {
  color: #ffffff;
}
.cynxs-values-info-text63 {
  color: #ffffff;
}
.cynxs-values-info-link13 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text64 {
  color: #ffffff;
}
.cynxs-values-info-text65 {
  color: #ffffff;
}
.cynxs-values-info-text66 {
  color: #ffffff;
}
.cynxs-values-info-text67 {
  color: #ffffff;
}
.cynxs-values-info-link14 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text68 {
  color: #ffffff;
}
.cynxs-values-info-text69 {
  color: #ffffff;
}
.cynxs-values-info-text70 {
  color: #ffffff;
}
.cynxs-values-info-text71 {
  color: #ffffff;
}
.cynxs-values-info-link15 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text72 {
  color: #ffffff;
}
.cynxs-values-info-text73 {
  color: #ffffff;
}
.cynxs-values-info-text74 {
  color: #ffffff;
}
.cynxs-values-info-text75 {
  color: #ffffff;
}
.cynxs-values-info-link16 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text76 {
  color: #ffffff;
}
.cynxs-values-info-text77 {
  color: #ffffff;
}
.cynxs-values-info-text78 {
  color: #ffffff;
}
.cynxs-values-info-text79 {
  color: #ffffff;
}
.cynxs-values-info-link17 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text80 {
  color: #ffffff;
}
.cynxs-values-info-text81 {
  color: #ffffff;
}
.cynxs-values-info-text82 {
  color: #ffffff;
}
.cynxs-values-info-text83 {
  color: #ffffff;
}
.cynxs-values-info-link18 {
  color: #22cace;
  text-decoration: underline;
}
.cynxs-values-info-text84 {
  color: #ffffff;
}
.cynxs-values-info-text85 {
  color: #ffffff;
}
.cynxs-values-info-text86 {
  color: #ffffff;
}
.cynxs-values-info-text87 {
  color: #ffffff;
  font-size: 72px;
}
.cynxs-values-info-text88 {
  color: #ffffff;
}
.cynxs-values-info-text89 {
  color: #ffffff;
}
.cynxs-values-info-text90 {
  color: #ffffff;
}
.cynxs-values-info-text91 {
  color: #ffffff;
}
.cynxs-values-info-feature-card {
  width: 100%;
  height: 513px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  padding-top: 79px;
  flex-direction: row;
  justify-content: center;
}
.cynxs-values-info-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cynxs-values-info-link19 {
  display: contents;
}
.cynxs-values-info-text92 {
  color: #13e3df;
  width: 80%;
  font-size: small;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.cynxs-values-info-text92:hover {
  color: #269b98;
}
.cynxs-values-info-text93 {
  font-weight: 800;
  text-transform: none;
}
.cynxs-values-info-turquoise-cirble1 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.cynxs-values-info-turquoise-cirble2 {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .cynxs-values-info-container {
    border-color: var(--dl-color-gray-900);
    border-width: 1px;
  }
  .cynxs-values-info-text {
    color: rgb(255, 255, 255);
  }
  .cynxs-values-info-text01 {
    font-size: 72px;
  }
  .cynxs-values-info-text92 {
    color: #13e3df;
    font-style: normal;
    font-family: Montserrat;
    font-weight: 500;
    border-width: 0px;
  }
  .cynxs-values-info-turquoise-cirble1 {
    top: 623px;
    right: 1160px;
  }
  .cynxs-values-info-turquoise-cirble2 {
    top: 623px;
    right: 1160px;
  }
}
@media(max-width: 1200px) {
  .cynxs-values-info-container {
    background-image: linear-gradient(135deg, rgb(5, 25, 25) 0.00%,rgb(18, 73, 93) 100.00%);
  }
  .cynxs-values-info-container1 {
    align-self: center;
  }
  .cynxs-values-info-text {
    color: rgb(255, 255, 255);
  }
  .cynxs-values-info-text01 {
    font-size: 72px;
  }
  .cynxs-values-info-text87 {
    font-size: 52px;
  }
  .cynxs-values-info-text89 {
    font-size: 25px;
  }
  .cynxs-values-info-feature-card {
    height: 518px;
    padding-top: 112px;
  }
  .cynxs-values-info-text92 {
    color: rgb(19, 227, 223);
    font-size: 50px;
    text-align: center;
    font-family: Montserrat;
    text-decoration: none;
  }
}
@media(max-width: 991px) {
  .cynxs-values-info-container1 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .cynxs-values-info-text {
    text-align: center;
  }
  .cynxs-values-info-turquoise-cirble1 {
    visibility: hidden;
  }
  .cynxs-values-info-turquoise-cirble2 {
    visibility: hidden;
  }
}
@media(max-width: 767px) {
  .cynxs-values-info-text {
    font-size: 50px;
    text-align: center;
  }
  .cynxs-values-info-feature-card {
    flex-direction: row;
  }
}
@media(max-width: 321px) {
  .cynxs-values-info-text {
    color: rgb(255, 255, 255);
    width: 95%;
    height: 5000px;
  }
  .cynxs-values-info-text01 {
    font-size: 72px;
  }
  .cynxs-values-info-feature-card {
    height: 4000px;
    position: unset;
    visibility: hidden;
  }
  .cynxs-values-info-container2 {
    height: auto;
  }
  .cynxs-values-info-text92 {
    font-size: xx-small;
    max-height: 50%;
  }
}
